spring:
  application:
    name: order-service
#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: jdbc:h2:mem:test
  datasource:
    url: jdbc:postgresql://localhost:5432/orderdb
    username: postgres
    password: admin
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: POSTGRESQL
#  jpa:
#    show-sql: true
#    hibernate:
#      ddl-auto: create

server:
  port: 8080